.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.cards__text {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
