.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  margin: 0;
  font-size: 20px;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.header__nav-link {
  text-decoration: none;
  color: black;
}

.header__avatar {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
