.modal__content_type_image {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 610px;
}

.modal__image {
  align-self: center;
  width: 500px;
  height: auto;
}

.modal__footer {
  background-color: #fff;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 12px 0;
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
