.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: center;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__edit-profile {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.sidebar__logout {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.sidebar__options {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 24px;
  gap: 8px;
}
