.clothes-section {
  flex-grow: 1;
}

.clothes-section__row {
  display: flex;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.clothes-section__text {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin-right: 20px;
  margin-left: 20px;
}

.clothes-section__button {
  font-weight: 700;
  font-size: 20px;
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}
